@import "./variable.scss";

.movie-site {
  min-width: 320px;
  height: 100%;
  position: relative;
  .section-title {
    // 공통
    margin-bottom: 16px;
    font-size: 20px;
  }

  .search-page {
    // search-page
    padding-top: $header-height;
    .text-box {
      .title {
        margin-top: 8px;
        font-size: 18px;
        font-weight: 700;
      }
      .average {
        display: none;
      }
    }
  }
}

// @media (max-width: 1024px) {
//   .movie-site {
//     .movie-list {
//       li {
//         .title {
//           font-size: 16px;
//         }
//       }
//     }
//   }
// }

// @media (max-width: 768px) {
//   .movie-site {
//     .movie-list {
//       gap: 20px 10px;
//       li {
//         width: calc(33.333% - 7px);
//       }
//     }
//     .detail-page {
//       .movie-info {
//         padding: 0 42px;
//         .img-box {
//           height: 320px;
//         }
//         .add-info {
//           padding-left: 32px;
//           .title {
//             font-size: 24px;
//           }
//           .info {
//             padding-bottom: 12px;
//             margin-bottom: 12px;
//             font-size: 14px;
//           }
//           .desc {
//             max-height: 200px;
//             font-size: 14px;
//           }
//         }
//       }
//     }
//   }
// }

// @media (max-width: 512px) {
//   .movie-site {
//     .movie-list {
//       li {
//         width: calc(50% - 14px);
//       }
//     }
//     .main-page {
//       padding-top: 100px;
//     }
//     .detail-page {
//       .movie-info {
//         flex-direction: column;
//         align-items: center;
//         padding: 0 5%;
//         .img-box {
//           height: 300px;
//         }
//         .add-info {
//           padding-left: 0px;
//           .title {
//             font-size: 20px;
//           }
//         }
//       }
//     }
//   }
// }

// @media (max-width: 425px) {
//   .movie-site {
//     .movie-list {
//       li {
//         width: 100%;
//       }
//     }
//   }
// }
