@import "/src/assets/style/variable.scss";

.upcoming-page {
  padding-top: $header-height;
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 20px;
    .movie-card {
      flex: 1 1 calc(25% - 20px);
    }
  }
}
